<app-home></app-home>
<hr />
<h3 class="mt-4 mb-4 lead">Create New Reservation</h3>
<hr />
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Guest Name</label>
      <input
        class="form-control"
        type="text"
        formControlName="guestName"
        placeholder="Guest Name"
      />
      <small
        class="text-danger"
        *ngIf="
          reservationForm.get('guestName')?.invalid &&
          reservationForm.get('guestName')?.touched
        "
      >
        Guest name is required
      </small>
    </div>
    <div class="col">
      <label class="form-label">Guest Email</label>
      <input
        class="form-control"
        type="email"
        formControlName="guestEmail"
        placeholder="Guest Email"
      />
      <small
        class="text-danger"
        *ngIf="
          reservationForm.get('guestEmail')?.invalid &&
          reservationForm.get('guestEmail')?.touched
        "
      >
        Invalid email
      </small>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Check-In Date</label>
      <input
        class="form-control"
        type="date"
        formControlName="checkInDate"
        placeholder="Check In Date"
      />
      <small
        class="text-danger"
        *ngIf="
          reservationForm.get('checkInDate')?.invalid &&
          reservationForm.get('checkInDate')?.touched
        "
      >
        check in date is required
      </small>
    </div>
    <div class="col">
      <label class="form-label">Check-Out Date</label>
      <input
        class="form-control"
        type="date"
        formControlName="checkOutDate"
        placeholder="Check Out Date"
      />
      <small
        class="text-danger"
        *ngIf="
          reservationForm.get('checkOutDate')?.invalid &&
          reservationForm.get('checkOutDate')?.touched
        "
      >
        check out date is required
      </small>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <label class="form-label">Room Number</label>
      <input
        class="form-control"
        type="number"
        formControlName="roomNo"
        placeholder="Room Number"
      />
      <small
        class="text-danger"
        *ngIf="
          reservationForm.get('roomNo')?.invalid &&
          reservationForm.get('roomNo')?.touched
        "
      >
        room number is required
      </small>
    </div>
  </div>
  <hr class="mt-4" />
  <button
    class="btn btn-primary mt-4"
    type="submit"
    [disabled]="reservationForm.invalid"
  >
    Submit
  </button>
</form>
