<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Guest Name</label>
    <input type="text" formControlName="guestName" placeholder="Guest Name" />
  </div>
  <div>
    <label>Guest Email</label>
    <input
      type="email"
      formControlName="guestEmail"
      placeholder="Guest Email"
    />
  </div>
  <div>
    <label>Check-In Date</label>
    <input
      type="date"
      formControlName="checkInDate"
      placeholder="Check In Date"
    />
  </div>
  <div>
    <label>Check-Out Date</label>
    <input
      type="date"
      formControlName="checkOutDate"
      placeholder="Check Out Date"
    />
  </div>
  <div>
    <label>Room Number</label>
    <input type="number" formControlName="roomNo" placeholder="Room Number" />
  </div>
  <button type="submit">Submit</button>
</form>
